body {
  margin: 0;
}

h1 {
  margin: 5px 10px;
  font-size: 40pt;
}

h3 {
  margin: 5px 10px;
  font-size: 18pt;
  font-style: normal;
  font-weight: normal;
}

.form {
  background-color: lightgrey;
  padding: 20px 10px;
}

label {
  font-size: 18pt;
  margin-right: 15px;
  vertical-align: middle;
}

input {
  margin-left: 5px;
  font-size: 18pt;
}

.hashtagButton {
  display:inline-block;
  vertical-align: middle;
}
